/* チャット全体 */
#kdchat_container{
    width: auto;
    height: 600px;
}

/* チャット外側部分 */
#kdchat_message_container{
    height: 100%;
    width: 100%;
    background-color: #eee;
}

/* ヘッダー部分 */
#kdchat_chat_header{
    padding: 6px;
    font-size: 16px;
    height: 5%;
    border-radius: 4px;
    background: #ddd; 
    border: 1px solid #ccc;
    overflow: hidden;
}

#kdchat_chat_user_status{
    float: left;
}

/* 入力中メッセージ */
#kdchat_chat_user_typing{
    float: right;
    line-height: 2em;
    padding: 5px;
    font-size: 12px;
}

/* ステータスアイコン */
#kdchat_status_icon{
    float: left;
    line-height: 2rem;   
}

/* ユーザ名 */
#kdchat_chat_user_name{
    float: left;
    line-height: 2em;
    padding: 5px;
}

/* タイムライン部分 */
#kdchat_messages{
    overflow: auto;
    height: 95%;
    width: 100%;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: #252933;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .2);
}

/* 日付部分 */
.kdchat_date{
    width: 30%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 14px;
    color: #bcbcbc;
    text-align: center;
    background-color: #3b3f48;
    border-radius: 15px;
}

/* ログインメッセージ部分 */
.kdchat_login{
    width: 80%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 14px;
    color: #bcbcbc;
    text-align: center;
    background-color: #3b3f48;
    border-radius: 15px;
}

/* メッセージ部分 */
.kdchat_message{
    margin: 0px;
    padding: 0 14px;
    font-size: 16px;
    word-wrap: break-word;
    white-space: normal;
}

/* 吹き出し部分 */
.kdchat_message_box{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
    font-size: 16px;
    float: right;
}

/* コメント日付部分(自分) */
.kdchat_message_date_right{
    float: left;
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 10px;
    color: #bcbcbc;
}

/* コメント日付部分(自分) */
.kdchat_message_read{
    float: left;
    position: absolute;
    bottom: 15px;
    left: 10px;
    font-size: 10px;
    color: #bcbcbc;
}

/* コメント日付部分(相手) */
.kdchat_message_date_left{
    float: right;
    position: absolute;
    bottom: 0;
    right: -30px;
    font-size: 10px;
    color: #bcbcbc;
}

.kdchat_message_content{
    padding: 20px;
}

/* メッセージ部分（自分） */
.kdchat_right{
    float: right;
    line-height: 1.3em;
    position: relative;
    max-width: 40%;    
}

.kdchat_right .kdchat_message_box{
    color: #333;
    background: #53cf55;
    border-radius: 25px 0px 25px 25px;
    margin-left: 30px;
}

/* メッセージ部分（相手） */
.kdchat_left{
    float: left;
    line-height: 1.3em;
    position: relative;
    max-width: 40%;
}

.kdchat_left .kdchat_message_box{
    color: #333;
    background: #fff;
    border-radius: 0px 25px 25px 25px;
    margin-left: 30px;
}

/* 回り込み解除 */
.kdchat_clear{
    clear: both;
}

/* 送信部分 */
#kdchat_send{
    background-color: #eee;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 8%;
    padding: 4px;
}

/* 送信テキスト */
#kdchat_send_message{
    width: calc(100% - 75px);
    line-height: 16px;
    height: 100%;
    font-size: 16px;
    padding: 0px 6px 0px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .2) inset;
    box-sizing: border-box;
}

/* 送信ボタン */
#kdchat_send_btn{
    width: 72px;
    height: 48px;
    font-size: 16px;
    line-height: 3em;
    float: right;
    color: #fff;
    font-weight: bold;
    background: #bcbcbc;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
}

#kdchat_send_btn:hover{
    background: #33d449;
    cursor: pointer;
}
